In [1]:
#import libraries

import string
import json
import itertools 
import pandas as pd
import re
import time

In [24]:
#create ID columns: race_id, horse_id, trainer_id, jockey_id, track_id
def create_id_col(df, new_id_column, old_id_column):
    df[new_id_column]=df[old_id_column].str.extract(r'(?:\()([^)]+)(?:\))')

In [103]:
#read data files
df_stats = pd.read_csv('race_stats_post_2019_v2_scrubbed.csv')
df_results = pd.read_csv('race_results_post_2019_v2_scrubbed.csv')
df_pps = pd.read_csv('past_performances.csv').drop(['Unnamed: 0'],axis = 'columns')
df_horses= pd.read_json('horse_data_4.json')

In [104]:
#create id columns
create_id_col(df_horses, 'horse_id', 'Name')
create_id_col(df_results, 'horse_id', 'Horse')

In [105]:
#drop rows with letters in the place column, to remove did not finish and alternates
df_results = df_results[~df_results['Pla.'].str.contains("[a-zA-Z]").fillna(False)]
df_results = df_results.dropna()

In [106]:
#unstack results with one row per race, horse attributes as columns
df_results = df_results.groupby(['race_id','Horse No.']).first().unstack('Horse No.')
df_results.columns = ['Pla.1',	'Pla.10',	'Pla.11',	'Pla.12',	'Pla.13',	'Pla.14',	'Pla.2',	'Pla.3',	'Pla.4',	'Pla.5',	'Pla.6',	'Pla.7',	'Pla.8',	'Pla.9',	'Horse1',	'Horse10',	'Horse11',	'Horse12',	'Horse13',	'Horse14',	'Horse2',	'Horse3',	'Horse4',	'Horse5',	'Horse6',	'Horse7',	'Horse8',	'Horse9',	'Jockey1',	'Jockey10',	'Jockey11',	'Jockey12',	'Jockey13',	'Jockey14',	'Jockey2',	'Jockey3',	'Jockey4',	'Jockey5',	'Jockey6',	'Jockey7',	'Jockey8',	'Jockey9',	'Trainer1',	'Trainer10',	'Trainer11',	'Trainer12',	'Trainer13',	'Trainer14',	'Trainer2',	'Trainer3',	'Trainer4',	'Trainer5',	'Trainer6',	'Trainer7',	'Trainer8',	'Trainer9',	'Act. Wt.1',	'Act. Wt.10',	'Act. Wt.11',	'Act. Wt.12',	'Act. Wt.13',	'Act. Wt.14',	'Act. Wt.2',	'Act. Wt.3',	'Act. Wt.4',	'Act. Wt.5',	'Act. Wt.6',	'Act. Wt.7',	'Act. Wt.8',	'Act. Wt.9',	'Declar. Horse Wt.1',	'Declar. Horse Wt.10',	'Declar. Horse Wt.11',	'Declar. Horse Wt.12',	'Declar. Horse Wt.13',	'Declar. Horse Wt.14',	'Declar. Horse Wt.2',	'Declar. Horse Wt.3',	'Declar. Horse Wt.4',	'Declar. Horse Wt.5',	'Declar. Horse Wt.6',	'Declar. Horse Wt.7',	'Declar. Horse Wt.8',	'Declar. Horse Wt.9',	'Dr.1',	'Dr.10',	'Dr.11',	'Dr.12',	'Dr.13',	'Dr.14',	'Dr.2',	'Dr.3',	'Dr.4',	'Dr.5',	'Dr.6',	'Dr.7',	'Dr.8',	'Dr.9',	'LBW1',	'LBW10',	'LBW11',	'LBW12',	'LBW13',	'LBW14',	'LBW2',	'LBW3',	'LBW4',	'LBW5',	'LBW6',	'LBW7',	'LBW8',	'LBW9',	'RunningPosition1',	'RunningPosition10',	'RunningPosition11',	'RunningPosition12',	'RunningPosition13',	'RunningPosition14',	'RunningPosition2',	'RunningPosition3',	'RunningPosition4',	'RunningPosition5',	'RunningPosition6',	'RunningPosition7',	'RunningPosition8',	'RunningPosition9',	'Finish Time1',	'Finish Time10',	'Finish Time11',	'Finish Time12',	'Finish Time13',	'Finish Time14',	'Finish Time2',	'Finish Time3',	'Finish Time4',	'Finish Time5',	'Finish Time6',	'Finish Time7',	'Finish Time8',	'Finish Time9',	'Win Odds1',	'Win Odds10',	'Win Odds11',	'Win Odds12',	'Win Odds13',	'Win Odds14',	'Win Odds2',	'Win Odds3',	'Win Odds4',	'Win Odds5',	'Win Odds6',	'Win Odds7',	'Win Odds8',	'Win Odds9',	'horse_id1',	'horse_id10',	'horse_id11',	'horse_id12',	'horse_id13',	'horse_id14',	'horse_id2',	'horse_id3',	'horse_id4',	'horse_id5',	'horse_id6',	'horse_id7',	'horse_id8',	'horse_id9']

In [107]:
#join df_stats to new df_results on race_id
df_final = df_stats.join(df_results, on='race_id')
df_final

,race_id,race_date,class,race_name,stakes,going,track_type,time_1,time_2,time_3,...,horse_id13,horse_id14,horse_id2,horse_id3,horse_id4,horse_id5,horse_id6,horse_id7,horse_id8,horse_id9
0,432,17/02/2021,Class 4 - 1200M - (60-40),MUT WAH HANDICAP,"HK$ 1,000,000",GOOD,"TURF - ""C"" Course",(23.60),(46.35),(1:09.76),...,NaN,NaN,E147,E209,D494,E063,E152,B451,C388,C356
1,433,17/02/2021,Class 4 - 1200M - (60-40),MUT WAH HANDICAP,"HK$ 1,000,000",GOOD,"TURF - ""C"" Course",(23.82),(46.25),(1:09.71),...,C494,A193,C103,C030,A296,E177,C130,E156,D488,D417
2,434,17/02/2021,Class 5 - 1000M - (40-0),WAI YIP HANDICAP,"HK$ 750,000",GOOD,"TURF - ""C"" Course",(12.75),(34.62),(57.52),...,NaN,NaN,A345,B300,D204,B145,B381,B155,A364,D408
3,435,17/02/2021,Class 4 - 1200M - (60-40),MUT WAH HANDICAP,"HK$ 1,000,000",GOOD,"TURF - ""C"" Course",(23.95),(46.77),(1:10.15),...,B096,B231,B200,D513,E079,D472,E166,D283,D296,E088
4,436,17/02/2021,Class 3 - 1650M - (80-60),HOI YUEN HANDICAP,"HK$ 1,500,000",GOOD,"TURF - ""C"" Course",(27.52),(51.39),(1:15.32),...,C155,C223,E137,C172,C318,E053,D233,C285,D140,D265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,33,15/09/2019,Class 3 - 1200M - (80-60),THE FAKEI CUP (HANDICAP),"HK$ 1,450,000",GOOD TO FIRM,"TURF - ""C+3"" Course",(23.65),(45.76),(1:08.53),...,NaN,NaN,C080,B336,C163,B432,B274,V114,D113,T093
973,35,15/09/2019,Class 4 - 1400M - (60-40),THE CHINESE RECREATION CLUB CHALLENGE CUP (HAN...,"HK$ 967,000",GOOD TO FIRM,"TURF - ""C+3"" Course",(13.35),(34.57),(57.69),...,NaN,B436,B466,D332,A121,C353,A282,B027,D287,D070
974,36,15/09/2019,Class 3 - 1650M - (85-60),SWALLOW HANDICAP,"HK$ 1,450,000",GOOD,ALL WEATHER TRACK,(27.85),(51.66),(1:16.22),...,NaN,NaN,A293,D392,V138,B216,D071,D174,D180,A300
975,37,15/09/2019,Class 2 - 1200M - (100-80),TAILORBIRD HANDICAP,"HK$ 2,100,000",GOOD TO FIRM,"TURF - ""C+3"" Course",(23.76),(45.52),(1:08.19),...,NaN,NaN,V337,C127,C047,C355,B331,V406,V368,B292
976,30,15/09/2019,Class 4 - 1650M - (60-40),LARK HANDICAP,"HK$ 967,000",GOOD,ALL WEATHER TRACK,(28.95),(52.66),(1:16.34),...,NaN,NaN,C376,D202,C477,D042,B167,D366,A296,B403

In [26]:
df_horses

,Name,Country of Origin & Age,Colour & Sex,Import Type,Season Stakes,Total Stakes,Number Of 123 Starts,Number of Starts In Past Races,Trainer,Owner,Current Rating,Start Of Season Rating,Sire,Dam,Dam Sire,horse_id
0,AETHERO (C336),AUS / 4,Chestnut / Gelding,PPG,$0,"$9,116,600",0,0,C Fownes,Andrea Tien & Arthur Cheng,119,,Sebring,Pinocchio,Encosta de Lago,C336
1,AMAZING STAR (B019),NZ / 6,Bay / Gelding,PPG,"$1,464,000","$6,497,690",1,1,K H Ting,Grinders' Racing Club Syndicate,106,,Darci Brahma,Bright Abyss,Royal Academy,B019
2,ASSIMILATE (C160),AUS / 6,Chestnut / Gelding,PP,"$1,254,000","$4,541,600",1,1,K H Ting,Ian Cheng Ka Ho,91,,Sebring,Jester's Girl,Commands,C160
3,AMAZING ONE PLUS (D173),IRE / 6,Chestnut / Gelding,PP,"$253,000","$869,000",0,0,T P Yung,Peter Yip Hak Yung,90,,Shamardal,Hazarafa,Daylami,D173
4,AMAZING CHOCOLATE (C059),AUS / 6,Bay / Gelding,PP,"$1,434,000","$3,990,090",1,1,A T Millard,Antony Ip Ren Haw,88,,Sepoy,Nanda Kot,Encosta de Lago,C059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,YOUNG GLORY (B292),NZ / 6,Bay / Gelding,PPG,"$86,250","$1,172,650",1,1,D E Ferraris,HKJC Racing Club Limited,18,,Niagara,Divine Miss Em,Traditionally,B292
924,ZHAN JIANG ROCKS (B406),IRE / 6,Brown / Gelding,PP,"$650,000","$2,307,935",1,1,W Y So,Zhan Jiang Syndicate,59,,Big Bad Bob,Rupa,Acclamation,B406
925,ZONE D (D415),GB / 4,Bay / Gelding,PPG,"$220,000","$220,000",1,1,J Size,Lincoln Ling,53,,Holy Roman Emperor,Marasima,Barathea,D415
926,ZELUS (E186),AUS / 3,Grey / Gelding,PPG,$0,$0,0,0,C W Chang,Stanley Choy Ka Man,52,,The Factor,Dollars Not Sense,Onemorenomore,E186
927,ZACIAN (E078),AUS / 4,Bay / Gelding,PPG,$0,$0,1,1,A T Millard,Hugo Hui Kwan Wah,50,,Albrecht,Snaffles,Librettist,E078