In [1]:
#import libraries
try:
    # For Python 3.0 and later
    from urllib.request import urlopen
except ImportError:
    # Fall back to Python 2's urllib2
    from urllib2 import urlopen
import string
import json
import itertools 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd
import re

In [24]:
def wait_for(xpath):
    try:
        element = WebDriverWait(driver, 20).until(
            EC.presence_of_element_located((By.XPATH, xpath))
        )
    except:
        return False
        print("Timed Out")
    return True

In [140]:
def stats_scraper(current_page):
    soup = BeautifulSoup(current_page, 'html.parser')
    table = soup.find_all('table')[1]
    table_rows = table.find_all('tr')

    res = []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            res.append(row)
    df = pd.DataFrame(res)

    df.iat[0,0]
    clean_lists = []
    clean_lists.append(res[0][0])
    clean_lists.append(res[1][0])
    clean_lists.append(res[2][0])
    clean_lists.append(res[3][0])
    clean_lists.append(res[1][2])
    clean_lists.append(res[2][2])

    for x in range(2,len(df)):
        clean_lists.append(res[3][x])

    for x in range(1,len(df)-1):
        clean_lists.append(res[4][x])

    out = pd.DataFrame(clean_lists).transpose()

    if len(out.columns)==12:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "split_1", 10: "split_2", 11: "split_3"}, inplace=True)
    if len(out.columns)==14:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "split_1", 11: "split_2", 12: "split_3", 13: "split_4"}, inplace=True)
    if len(out.columns)==16:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "split_1", 12: "split_2", 13: "split_3", 14: "split_4", 15: "split_5"}, inplace=True)
    if len(out.columns)==18:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "time_6",  12: "split_1", 13: "split_2", 14: "split_3", 15: "split_4", 16: "split_5", 17: "split_6"}, inplace=True)
    if len(out.columns)==20:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "time_6", 12: "time_7",  13: "split_1", 14: "split_2", 15: "split_3", 16: "split_4", 17: "split_5", 18: "split_6", 19: "split_7"}, inplace=True)
    return out

In [141]:
driver = webdriver.Firefox()
timeout = 10
driver.get('https://racing.hkjc.com/racing/information/english/Racing/LocalResults.aspx?RaceDate=2021/02/06')

wait_for("/html/body/div/div[2]/table")

upper_bound = len(driver.find_elements_by_xpath("//table[@class='f_fs12 f_fr js_racecard']/tbody/tr/td"))    

df_list_race_results = []
df_list_race_stats = []

for race in range(2,upper_bound):
    wait_for("//table[@class='f_fs12 f_fr js_racecard']/tbody/tr/td[%d]" %race)
    driver.find_element_by_xpath("//table[@class='f_fs12 f_fr js_racecard']/tbody/tr/td[%d]" %race).click()
    wait_for("//table[@class='f_fs12 f_fr js_racecard']/tbody/tr/td[%d]" %race)
    small_df_list=pd.read_html(driver.page_source)
    df_list_race_results.append(small_df_list[2])
    wait_for("//div[@class='localResults commContent']/div[@class='race_tab']/table")
    current_race_stats = stats_scraper(driver.page_source)
    df_list_race_stats.append(current_race_stats)
    
# returned raced 3 twice--the wait for is just looking for the presence of the table, not the specific table
# thats loading for the next race

In [142]:
df_list_race_results

[    Pla.  Horse No.                     Horse      Jockey       Trainer  \
 0      1          2   DESTINE JEWELLERY(D032)   J Moreira        J Size
 1      2          5      LITTLE THUNDER(C453)    K Teetan   A T Millard
 2      3          8          MOON PEAKS(C403)     H W Lai      Y S Tsui
 3      4          9           MONEYMORE(B182)    C L Chau     D A Hayes
 4      5         10          ALLOY STAR(D053)  M Chadwick      T P Yung
 5      6          1             ANONYMA(C496)    N Callan  D E Ferraris
 6      7          4    ALL BEST FRIENDS(A217)    Z Purton       K L Man
 7      8         11    KWAI CHUNG ELITE(C173)   T Piccone      R Gibson
 8      9          6           CRUCIATUS(C206)     A Badel     C W Chang
 9     10          7  LAOS ENLIGHTENMENT(C291)      H T Mo          L Ho
 10    11         12   JIMSON THE DRAGON(C017)      C Wong       C H Yip
 11    12          3     WINNING STRIKES(D104)    V Borges  P O'Sullivan

     Act. Wt.  Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  \
 0        133               1177    4      -           7 6 1     1:10.09
 1        131               1128    8     SH           8 9 2     1:10.12
 2        128               1158    7      N           3 4 3     1:10.14
 3        120               1076    1    3/4           2 2 4     1:10.22
 4        124               1044   10  1-1/2         10 10 5     1:10.35
 5        133               1061   11  1-3/4           9 8 6     1:10.37
 6        131               1087    9  2-1/4         11 11 7     1:10.44
 7        122               1145    6  2-3/4           4 3 8     1:10.52
 8        130               1100   12  2-3/4         12 12 9     1:10.54
 9        127                997    3      3          5 5 10     1:10.57
 10       108               1045    2  3-1/2          1 1 11     1:10.66
 11       132               1093    5  4-3/4          6 7 12     1:10.85

     Win Odds
 0        3.9
 1       10.0
 2       14.0
 3        4.1
 4       27.0
 5       45.0
 6        6.5
 7       34.0
 8       91.0
 9       27.0
 10       7.1
 11       8.0  ,
     Pla.  Horse No.                     Horse       Jockey       Trainer  \
 0      1         10   PLEASANT ENDEAVOR(E114)    K C Leung       P F Yiu
 1      2          7    HURRY HURRY GAIN(E183)       C Y Ho       F C Lor
 2      3         14  MAJESTIC CONQUEROR(C363)     K Teetan      T P Yung
 3      4         12       STAR SUPERIOR(V255)     H N Wong     C W Chang
 4      5          2        SELL MY SOLE(D332)    J Moreira        J Size
 5      6         13    VALIANT ELEGANCE(D285)     K H Chan     D J Whyte
 6      7          5           FARIBAULT(D454)    M L Yeung  P O'Sullivan
 7      8          8       MASTER OF FUN(E080)     N Callan       C H Yip
 8      9          1     SUPER COMMANDER(D350)      B Shinn  D E Ferraris
 9     10          3     UNITED WE STAND(D048)     Z Purton      C S Shum
 10    11         11          BELLA BABY(B365)      A Badel        W Y So
 11    12          4      DRAGON KINGDOM(E211)       H T Mo      Y S Tsui
 12    13          6         FIGURES TWO(D303)  C Schofield   A T Millard
 13    14          9          MULTIPOWER(E213)   M Chadwick      A S Cruz

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        125               1154    4       -         10 12 1     0:56.92
 1        125               1058   12     3/4          7 10 2     0:57.06
 2        115               1148    8   1-1/4           6 4 3     0:57.13
 3        113               1083    2   2-1/2         13 13 4     0:57.30
 4        130               1166    7   2-1/2           2 3 5     0:57.32
 5        110               1102   11   2-1/2           5 5 6     0:57.33
 6        125               1170    6       3           8 8 7     0:57.39
 7        125               1075    5       3           9 7 8     0:57.39
 8        133               1078    1   3-3/4         14 11 9     0:57.53
 9        130               1238   14   7-1/2          3 1 10     0:58.11
 10       116               1015    9       8         11 9 11     0:58.20
 11       122               1119   10   9-1/4          1 2 12     0:58.38
 12       125               1240    3   9-1/4        12 14 13     0:58.39
 13       125               1062   13  11-3/4          4 6 14     0:58.81

     Win Odds
 0        7.1
 1       11.0
 2       23.0
 3       67.0
 4        4.8
 5       32.0
 6       58.0
 7       79.0
 8      117.0
 9        3.0
 10       4.0
 11     129.0
 12      46.0
 13      22.0  ,
    Pla.  Horse No.                   Horse     Jockey    Trainer  Act. Wt.  \
 0     1          7          THE ROCK(D187)    A Badel   C Fownes       119
 1     2          4         CONQUEROR(E133)  T Piccone  D A Hayes       122
 2     3          5  ARTHUR'S KINGDOM(E194)    B Shinn   Y S Tsui       121
 3     4          8       ALPHA HEDGE(B102)   V Borges    K W Lui       118
 4     5          6       SEA OF LIFE(D428)     C Y Ho    K W Lui       120
 5     6          1      PRECIOUSSHIP(C050)  A Hamelin    P F Yiu       133
 6     7          3   LAKESHORE EAGLE(B391)   K Teetan     W Y So       127
 7     8          2     CIRCUIT THREE(B360)  J Moreira   A S Cruz       129

    Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  Win Odds
 0               1188    5      -         1 1 1 1     1:34.20       8.9
 1               1153    1    1/2         4 3 3 2     1:34.28      66.0
 2                974    4    3/4         7 7 5 3     1:34.32     134.0
 3               1210    3  1-1/4         2 2 2 4     1:34.40      31.0
 4               1123    2  1-1/2         3 4 4 5     1:34.42       3.5
 5               1004    6  3-1/4         6 5 6 6     1:34.70      18.0
 6               1037    8  3-1/2         8 8 8 7     1:34.75       7.0
 7               1129    7  3-3/4         5 6 7 8     1:34.78       1.7  ,
    Pla.  Horse No.                   Horse     Jockey    Trainer  Act. Wt.  \
 0     1          7          THE ROCK(D187)    A Badel   C Fownes       119
 1     2          4         CONQUEROR(E133)  T Piccone  D A Hayes       122
 2     3          5  ARTHUR'S KINGDOM(E194)    B Shinn   Y S Tsui       121
 3     4          8       ALPHA HEDGE(B102)   V Borges    K W Lui       118
 4     5          6       SEA OF LIFE(D428)     C Y Ho    K W Lui       120
 5     6          1      PRECIOUSSHIP(C050)  A Hamelin    P F Yiu       133
 6     7          3   LAKESHORE EAGLE(B391)   K Teetan     W Y So       127
 7     8          2     CIRCUIT THREE(B360)  J Moreira   A S Cruz       129

    Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  Win Odds
 0               1188    5      -         1 1 1 1     1:34.20       8.9
 1               1153    1    1/2         4 3 3 2     1:34.28      66.0
 2                974    4    3/4         7 7 5 3     1:34.32     134.0
 3               1210    3  1-1/4         2 2 2 4     1:34.40      31.0
 4               1123    2  1-1/2         3 4 4 5     1:34.42       3.5
 5               1004    6  3-1/4         6 5 6 6     1:34.70      18.0
 6               1037    8  3-1/2         8 8 8 7     1:34.75       7.0
 7               1129    7  3-3/4         5 6 7 8     1:34.78       1.7  ,
     Pla.  Horse No.                     Horse       Jockey       Trainer  \
 0   1 DH          7    DRAGON COMMANDER(C208)    J Moreira      Y S Tsui
 1   1 DH         10         FAIRY FLOSS(C236)    K C Leung  P O'Sullivan
 2      3          4      TREASURE CHEST(D008)     N Callan       P F Yiu
 3      4         11           PROUD SKY(V406)      H W Lai          L Ho
 4      5         12      GOLDEN GENERAL(A346)   M Chadwick  D E Ferraris
 5      6          8        GENERAL DINO(A193)      A Badel      R Gibson
 6      7         14        KEEP WINNING(B331)    M L Yeung     C W Chang
 7      8         13   BRAVERY AND POWER(C295)     V Borges        W Y So
 8      9          2        SWEETLY BABY(D247)       C Y Ho      C Fownes
 9     10          9  KA YING BRILLIANCE(B115)     K Teetan      T P Yung
 10    11          6         SPEED FORCE(C535)     C L Chau     D J Whyte
 11    12          1        JADE THEATRE(A040)     Z Purton       K L Man
 12    13          3    CAN'T TOUCH THIS(D255)  C Schofield      K H Ting
 13    14          5  CIRCUIT NUMBER ONE(B373)     K H Chan      A S Cruz

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        126               1083   13       -         9 9 7 1     1:39.05
 1        117               1100   14       -       13 12 4 1     1:39.05
 2        131               1069    3   2-1/4         3 2 1 3     1:39.42
 3        114               1076    5   3-1/4      10 10 12 4     1:39.57
 4        113               1209    8   3-1/4      11 11 11 5     1:39.59
 5        123               1046   10   3-1/4       14 14 9 6     1:39.59
 6        114               1134    9   4-1/4      12 13 13 7     1:39.73
 7        114               1066    4   5-1/4         4 4 5 8     1:39.90
 8        133               1204    1   7-1/2        5 7 10 9     1:40.23
 9        121               1211   12   8-1/2        7 6 6 10     1:40.42
 10       122               1071    6   8-3/4        6 5 8 11     1:40.46
 11       133               1133   11  11-1/4        2 3 3 12     1:40.83
 12       132               1033    7  13-1/2       8 8 14 13     1:41.20
 13       122               1071    2  13-3/4        1 1 2 14     1:41.26

     Win Odds
 0        5.4
 1        8.3
 2        4.9
 3       22.0
 4       74.0
 5       10.0
 6       40.0
 7       19.0
 8        5.4
 9       45.0
 10      13.0
 11      19.0
 12     120.0
 13       7.6  ,
     Pla.  Horse No.                   Horse       Jockey       Trainer  \
 0    1.0          3     SKYEY SUPREME(C293)     C L Chau       K W Lui
 1    2.0          5        LADY FIRST(B013)    K C Leung      A S Cruz
 2    3.0          2      UNITE SPIRIT(C494)    J Moreira  D E Ferraris
 3    4.0          6       DOUBLE TAKE(D205)     K Teetan      C Fownes
 4    5.0          1        DEAL MAKER(B023)  C Schofield      K H Ting
 5    6.0         12       EL VALIENTE(D124)    M L Yeung  P O'Sullivan
 6    7.0          8        SO AWESOME(D258)     Z Purton      Y S Tsui
 7    8.0         10          OH BRAVO(E037)    T Piccone        W Y So
 8    9.0          7    GOLDIE FLANKER(V161)       C Wong       K L Man
 9   10.0         11  WEALTHY EMPLOYEE(D252)     V Borges      K H Ting
 10  11.0         14     SUN SUN FA FA(B467)     H N Wong        W Y So
 11  12.0         13     THE BEST HERO(D314)      H W Lai          L Ho
 12  13.0          9       DEMONS ROCK(B263)       H T Mo      D J Hall
 13   NaN          4  CHUNG WAH SPIRIT(A168)   M Chadwick       C H Yip

     Act. Wt. Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        124              1185    5       -         1 1 1 1     1:38.86
 1        128              1035   10       2         7 4 3 2     1:39.17
 2        132               976    8   2-3/4         9 6 7 3     1:39.31
 3        127              1166   13   3-1/4       10 9 10 4     1:39.39
 4        133              1162   11   4-1/2         3 2 2 5     1:39.56
 5        122              1127    3   4-1/2        8 10 9 6     1:39.57
 6        125              1041    1   4-3/4         4 5 5 7     1:39.62
 7        124              1164    4   5-1/2         6 8 8 8     1:39.75
 8        121              1217    2       7         5 7 6 9     1:39.97
 9        123              1073    6   7-1/4     13 12 12 10     1:40.03
 10       115              1121   12   8-3/4     12 11 11 11     1:40.26
 11       122              1124    7   8-3/4        2 3 4 12     1:40.26
 12       121              1053    9  10-1/4     11 13 13 13     1:40.49
 13       129               ---  ---     ---             ---         ---

    Win Odds
 0        10
 1       5.1
 2       6.2
 3       6.5
 4        18
 5        16
 6       2.4
 7       113
 8        65
 9        59
 10      180
 11       65
 12       37
 13      ---  ,
    Pla.  Horse No.                    Horse     Jockey       Trainer  \
 0     1          3          BEAR SLAM(C143)    B Shinn  D E Ferraris
 1     2          7  PING HAI TREASURE(B407)  J Moreira        J Size
 2     3          2     HONGKONG GREAT(D353)  A Hamelin      C S Shum
 3     4          9        NOTHING NEW(E127)   V Borges     C W Chang
 4     5          8     PARTY EVERYDAY(C414)   K Teetan      A S Cruz
 5     6         10           TANGMERE(B432)  M L Yeung      C Fownes
 6     7          6     GREAT TREASURE(T380)  T Piccone      Y S Tsui
 7     8          4        LONDON HALL(B026)   C L Chau      D J Hall
 8     9          5      TURIN REDSTAR(B092)  K C Leung       C H Yip
 9    10          1    INDICATIVE VOTE(E196)     C Y Ho       K W Lui

    Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0       131               1064    8       -       4 4 4 3 1     1:46.76
 1       122               1143    4   1-3/4       2 2 2 2 2     1:47.02
 2       132               1090    1       2       1 1 1 1 3     1:47.09
 3       118               1030    9   4-1/2       3 3 3 4 4     1:47.46
 4       119               1125    5   4-1/2       6 6 5 6 5     1:47.49
 5       115               1073    7   4-3/4       9 8 8 8 6     1:47.51
 6       124               1040    6       5    10 10 10 9 7     1:47.56
 7       122               1115    3   5-3/4       8 9 9 7 8     1:47.69
 8       125               1170    2   8-1/4       5 5 6 5 9     1:48.06
 9       133               1159   10  20-1/4     7 7 7 10 10     1:50.00

    Win Odds
 0      23.0
 1       5.1
 2       4.3
 3       9.7
 4       2.9
 5      19.0
 6      28.0
 7      18.0
 8       8.3
 9      31.0  ,
     Pla.  Horse No.                  Horse       Jockey      Trainer  \
 0      1          4     TRILLION WIN(E240)   M Chadwick      K L Man
 1      2          1    VALIANT DREAM(B416)     Z Purton      K W Lui
 2      3          9    KEEP YOU WARM(D272)      A Badel      K W Lui
 3      4          7   JOYFUL FORTUNE(D376)    J Moreira     A S Cruz
 4      5          8   WAR OF COURAGE(C483)     N Callan      K L Man
 5      6         11    SEVEN HEAVENS(B089)       C Y Ho     C Fownes
 6      7          6   PRINCE OF GEMS(C031)    A Hamelin  A T Millard
 7      8          3      MR LUMIERES(B179)     C L Chau     D J Hall
 8      9          5       LOYAL BABY(E130)    K C Leung      F C Lor
 9     10         10   BLOTTING PAPER(D043)       C Wong     R Gibson
 10    11          2  NORTHERN DRAGON(D354)  C Schofield       W Y So

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        124               1227   11       -           1 1 1     0:55.57
 1        133               1232    5   1-1/2           3 4 2     0:55.81
 2        119               1119    8   1-3/4           2 2 3     0:55.84
 3        122               1143    9   3-1/4           6 3 4     0:56.10
 4        121               1227    6       4          10 5 5     0:56.21
 5        118               1104    4   4-1/2           8 7 6     0:56.28
 6        123               1163    3   4-1/2           9 8 7     0:56.30
 7        117               1120   10   5-1/4           4 6 8     0:56.42
 8        123               1162    7      13         11 11 9     0:57.65
 9        113               1141    2  14-1/4          5 9 10     0:57.83
 10       127               1095    1      24         7 10 11     0:59.43

     Win Odds
 0       25.0
 1        5.2
 2        9.3
 3        1.8
 4       20.0
 5       13.0
 6        9.0
 7       17.0
 8       38.0
 9      116.0
 10      79.0  ,
     Pla.  Horse No.                    Horse      Jockey    Trainer  Act. Wt.  \
 0      1          5        HINCHINLOVE(C001)    Z Purton   T P Yung       125
 1      2          8  HARMONY N BLESSED(E061)    C L Chau  D A Hayes       115
 2      3          6      REGENCY BO BO(A050)      H T Mo   C S Shum       122
 3      4         12    FIRST RESPONDER(C205)     A Badel  D J Whyte       118
 4      5         10         WAR WEAPON(E257)   J Moreira   C Fownes       122
 5      6          2    WINNING FOR ALL(D391)      C Y Ho    K W Lui       133
 6      7         11       GOLFMAN STAR(D384)    K Teetan    F C Lor       119
 7      8          1     SUPER DYNAMITE(E199)   K C Leung    P F Yiu       133
 8      9          7        LET'S DO IT(E132)     B Shinn   D J Hall       123
 9     10          9       SWIFT SPIRIT(D201)    N Callan   K H Ting       122
 10    11          3           MR ALDAN(C323)    K H Chan   A S Cruz       124
 11    12          4        CIRCUIT SIX(D432)  M Chadwick    K L Man       129

     Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  Win Odds
 0                1196    7      -           2 2 1     1:08.36      10.0
 1                1191    6  2-1/2           1 1 2     1:08.75       2.0
 2                1220    2  2-1/2           7 7 3     1:08.78      17.0
 3                1184    1  4-1/4           3 3 4     1:09.05       9.9
 4                1174    8  5-3/4           6 6 5     1:09.30       4.9
 5                1123    9  6-1/2         11 10 6     1:09.39      17.0
 6                1182    3  7-1/4           4 4 7     1:09.52      10.0
 7                1077    4  7-1/2           5 5 8     1:09.58      24.0
 8                1068    5  7-3/4           9 9 9     1:09.61      60.0
 9                1131   12      8         10 8 10     1:09.63     162.0
 10               1200   11     15        12 11 11     1:10.78      89.0
 11               1061   10     18         8 12 12     1:11.24      51.0  ,
     Pla.  Horse No.                    Horse      Jockey       Trainer  \
 0      1         11           MY SUGAR(D206)    Z Purton      K H Ting
 1      2          1     SILVER EXPRESS(E131)    K Teetan        J Size
 2      3         12     ROMANTIC COMBO(D271)   J Moreira      C S Shum
 3      4          8          XIANG YIN(C265)   A Hamelin       F C Lor
 4      5          9       FLYING SWORD(C463)  M Chadwick      A S Cruz
 5      6          5  COMPASSION SPIRIT(D167)   M L Yeung       K L Man
 6      7          4         TAKING AIM(B244)    C L Chau     D J Whyte
 7      8          3      BEAUTY SPIRIT(B409)    N Callan      A S Cruz
 8      9         13          SO WE JOY(D082)     A Badel     D A Hayes
 9     10          7           THE HULK(C431)    K H Chan      C Fownes
 10    11          2       SPARKY TRAIL(E124)    V Borges  P O'Sullivan
 11    12         10       JOLLY HONOUR(C080)    H N Wong      Y S Tsui
 12    13          6       ISLAND SHINE(D040)   K C Leung       P F Yiu

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        123               1210    1       -         2 1 1 1     1:21.65
 1        133               1072    9       1         1 2 2 2     1:21.81
 2        120               1141    2   1-3/4         7 3 3 3     1:21.95
 3        125               1052   10   2-1/2        11 6 5 4     1:22.05
 4        124               1053    5   4-1/4         3 4 4 5     1:22.31
 5        127               1100    4   5-1/4         6 8 8 6     1:22.48
 6        121               1211    3   5-1/4         4 5 6 7     1:22.50
 7        131               1278   11   5-3/4         8 9 9 8     1:22.56
 8        118               1073   12   5-3/4      12 12 11 9     1:22.57
 9        118               1139    6   5-3/4        5 7 7 10     1:22.57
 10       132               1110   13   6-3/4     13 13 12 11     1:22.71
 11       121               1056    7   9-1/2      9 10 10 12     1:23.15
 12       126               1169    8  12-1/4     10 11 13 13     1:23.60

     Win Odds
 0        2.8
 1        5.3
 2        2.9
 3       37.0
 4       20.0
 5       51.0
 6       16.0
 7       51.0
 8       47.0
 9       11.0
 10     212.0
 11     173.0
 12      28.0  ]

In [143]:
df_list_race_stats

[        race_id                     class         race_name       stakes  \
 0  RACE 1 (402)  Class 5 - 1200M - (40-0)  KAM TIN HANDICAP  HK$ 750,000

   going         track_type   time_1   time_2     time_3 split_1 split_2  \
 0  GOOD  TURF - "C" Course  (24.18)  (46.61)  (1:10.09)   24.18   22.43

   split_3
 0   23.48  ,
         race_id                      class        race_name         stakes  \
 0  RACE 2 (403)  Class 4 - 1000M - (60-40)  MAI PO HANDICAP  HK$ 1,000,000

   going         track_type   time_1   time_2   time_3 split_1 split_2 split_3
 0  GOOD  TURF - "C" Course  (13.07)  (33.76)  (56.92)   13.07   20.69   23.16  ,
         race_id                       class           race_name  \
 0  RACE 3 (404)  Class 2 - 1600M - (100-80)  YUEN LONG HANDICAP

           stakes going         track_type   time_1   time_2     time_3  \
 0  HK$ 2,200,000  GOOD  TURF - "C" Course  (25.05)  (47.50)  (1:10.82)

   split_1 split_2 split_3
 0   25.05   22.45   23.32  ,
         race_id                       class           race_name  \
 0  RACE 3 (404)  Class 2 - 1600M - (100-80)  YUEN LONG HANDICAP

           stakes going         track_type   time_1   time_2     time_3  \
 0  HK$ 2,200,000  GOOD  TURF - "C" Course  (25.05)  (47.50)  (1:10.82)

   split_1 split_2 split_3
 0   25.05   22.45   23.32  ,
         race_id                     class               race_name  \
 0  RACE 5 (406)  Class 5 - 1650M - (40-0)  HUNG SHUI KIU HANDICAP

         stakes going         track_type   time_1   time_2     time_3 split_1  \
 0  HK$ 750,000  GOOD  ALL WEATHER TRACK  (27.83)  (50.29)  (1:14.46)   27.83

   split_2 split_3
 0   22.46   24.17  ,
         race_id                      class         race_name         stakes  \
 0  RACE 6 (407)  Class 4 - 1650M - (60-40)  LAM TEI HANDICAP  HK$ 1,000,000

   going         track_type   time_1   time_2     time_3 split_1 split_2  \
 0  GOOD  ALL WEATHER TRACK  (28.22)  (52.04)  (1:15.83)   28.22   23.82

   split_3
 0   23.79  ,
         race_id                      class              race_name  \
 0  RACE 7 (408)  Class 3 - 1800M - (80-60)  NAM SANG WAI HANDICAP

           stakes going         track_type   time_1   time_2   time_3 split_1  \
 0  HK$ 1,500,000  GOOD  ALL WEATHER TRACK  (13.42)  (35.51)  (58.19)   13.42

   split_2 split_3
 0   22.09   22.68  ,
         race_id                      class          race_name         stakes  \
 0  RACE 8 (409)  Class 3 - 1000M - (80-60)  TUEN MUN HANDICAP  HK$ 1,500,000

   going         track_type   time_1   time_2   time_3 split_1 split_2 split_3
 0  GOOD  TURF - "C" Course  (13.21)  (33.62)  (55.57)   13.21   20.41   21.95  ,
         race_id                      class              race_name  \
 0  RACE 9 (410)  Class 3 - 1200M - (80-60)  TIN SHUI WAI HANDICAP

           stakes going         track_type   time_1   time_2     time_3  \
 0  HK$ 1,500,000  GOOD  TURF - "C" Course  (24.03)  (46.06)  (1:08.36)

   split_1 split_2 split_3
 0   24.03   22.03   22.30  ,
          race_id                      class          race_name         stakes  \
 0  RACE 10 (411)  Class 3 - 1400M - (80-60)  TAI TONG HANDICAP  HK$ 1,500,000

   going         track_type   time_1   time_2   time_3 split_1 split_2 split_3
 0  GOOD  TURF - "C" Course  (13.71)  (35.83)  (58.83)   13.71   22.12   23.00  ]

In [28]:
df_list_all=pd.read_html(driver.page_source)

In [32]:
df_list_all[1]

,RACE 1 (402),RACE 1 (402).1,RACE 1 (402).2,RACE 1 (402).3,RACE 1 (402).4,RACE 1 (402).5,RACE 1 (402).6,RACE 1 (402).7,RACE 1 (402).8,RACE 1 (402).9,RACE 1 (402).10,RACE 1 (402).11,RACE 1 (402).12,RACE 1 (402).13,RACE 1 (402).14,RACE 1 (402).15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Class 5 - 1200M - (40-0),Going :,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,GOOD,NaN,NaN
2,KAM TIN HANDICAP,Course :,"TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course","TURF - ""C"" Course",NaN,NaN
3,"HK$ 750,000",Time :,(24.18),(46.61),(1:10.09),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Sectional Time :,24.18,22.43,23.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df.iat[0,0]
clean_lists = []

clean_lists.append(res[0][0])
clean_lists.append(res[1][0])
clean_lists.append(res[2][0])
clean_lists.append(res[3][0])
clean_lists.append(res[1][2])
clean_lists.append(res[2][2])

for x in range(2,len(df)):
    clean_lists.append(res[3][x])

for x in range(1,len(df)-1):
    clean_lists.append(res[4][x])

out = pd.DataFrame(clean_lists).transpose()

if len(out.columns)==12:
    out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "split_1", 10: "split_2", 11: "split_3"}, inplace=True)
if len(out.columns)==14:
    out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "split_1", 11: "split_2", 12: "split_3", 13: "split_4"}, inplace=True)
if len(out.columns)==16:
    out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5" 11: "split_1", 12: "split_2", 13: "split_3", 14: "split_4", 15: "split_5"}, inplace=True)
if len(out.columns)==18:
    out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "time_6",  12: "split_1", 13: "split_2", 14: "split_3", 15: "split_4", 16: "split_5", 17: "split_6"}, inplace=True)
if len(out.columns)==20:
    out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "time_6", 12: "time_7",  13: "split_1", 14: "split_2", 15: "split_3", 16: "split_4", 17: "split_5", 18: "split_6", 19: "split_7"}, inplace=True)

In [135]:
out

,race_id,class,race_name,stakes,going,track_type,time_1,time_2,time_3,split_1,split_2,split_3
0,RACE 1 (402),Class 5 - 1200M - (40-0),KAM TIN HANDICAP,"HK$ 750,000",GOOD,"TURF - ""C"" Course",(24.18),(46.61),(1:10.09),24.18,22.43,23.48

In [104]:
for x in range(6,6+int((len(out.columns) - 6) / 2)):
    print(x)
#     out.rename(columns={out.columns[x]: "split_[%x]" % int(((len(out.columns) - 6) / 2)-5)}, inplace=True)
    out.rename(columns={out.columns[x]: "split_[%x]" % int(x-3)}, inplace=True)    
    
    
    cols = []
    count = 1
    for column in df.columns:
        if column == 'Goods':
            cols.append(f'Goods_{count}')
            count+=1
            continue
        cols.append(column)
    df.columns = cols

6
7
8

In [137]:
big_df_list

[    Pla.  Horse No.                     Horse      Jockey       Trainer  \
 0      1          2   DESTINE JEWELLERY(D032)   J Moreira        J Size
 1      2          5      LITTLE THUNDER(C453)    K Teetan   A T Millard
 2      3          8          MOON PEAKS(C403)     H W Lai      Y S Tsui
 3      4          9           MONEYMORE(B182)    C L Chau     D A Hayes
 4      5         10          ALLOY STAR(D053)  M Chadwick      T P Yung
 5      6          1             ANONYMA(C496)    N Callan  D E Ferraris
 6      7          4    ALL BEST FRIENDS(A217)    Z Purton       K L Man
 7      8         11    KWAI CHUNG ELITE(C173)   T Piccone      R Gibson
 8      9          6           CRUCIATUS(C206)     A Badel     C W Chang
 9     10          7  LAOS ENLIGHTENMENT(C291)      H T Mo          L Ho
 10    11         12   JIMSON THE DRAGON(C017)      C Wong       C H Yip
 11    12          3     WINNING STRIKES(D104)    V Borges  P O'Sullivan

     Act. Wt.  Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  \
 0        133               1177    4      -           7 6 1     1:10.09
 1        131               1128    8     SH           8 9 2     1:10.12
 2        128               1158    7      N           3 4 3     1:10.14
 3        120               1076    1    3/4           2 2 4     1:10.22
 4        124               1044   10  1-1/2         10 10 5     1:10.35
 5        133               1061   11  1-3/4           9 8 6     1:10.37
 6        131               1087    9  2-1/4         11 11 7     1:10.44
 7        122               1145    6  2-3/4           4 3 8     1:10.52
 8        130               1100   12  2-3/4         12 12 9     1:10.54
 9        127                997    3      3          5 5 10     1:10.57
 10       108               1045    2  3-1/2          1 1 11     1:10.66
 11       132               1093    5  4-3/4          6 7 12     1:10.85

     Win Odds
 0        3.9
 1       10.0
 2       14.0
 3        4.1
 4       27.0
 5       45.0
 6        6.5
 7       34.0
 8       91.0
 9       27.0
 10       7.1
 11       8.0  ,
     Pla.  Horse No.                     Horse      Jockey       Trainer  \
 0      1          2   DESTINE JEWELLERY(D032)   J Moreira        J Size
 1      2          5      LITTLE THUNDER(C453)    K Teetan   A T Millard
 2      3          8          MOON PEAKS(C403)     H W Lai      Y S Tsui
 3      4          9           MONEYMORE(B182)    C L Chau     D A Hayes
 4      5         10          ALLOY STAR(D053)  M Chadwick      T P Yung
 5      6          1             ANONYMA(C496)    N Callan  D E Ferraris
 6      7          4    ALL BEST FRIENDS(A217)    Z Purton       K L Man
 7      8         11    KWAI CHUNG ELITE(C173)   T Piccone      R Gibson
 8      9          6           CRUCIATUS(C206)     A Badel     C W Chang
 9     10          7  LAOS ENLIGHTENMENT(C291)      H T Mo          L Ho
 10    11         12   JIMSON THE DRAGON(C017)      C Wong       C H Yip
 11    12          3     WINNING STRIKES(D104)    V Borges  P O'Sullivan

     Act. Wt.  Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  \
 0        133               1177    4      -           7 6 1     1:10.09
 1        131               1128    8     SH           8 9 2     1:10.12
 2        128               1158    7      N           3 4 3     1:10.14
 3        120               1076    1    3/4           2 2 4     1:10.22
 4        124               1044   10  1-1/2         10 10 5     1:10.35
 5        133               1061   11  1-3/4           9 8 6     1:10.37
 6        131               1087    9  2-1/4         11 11 7     1:10.44
 7        122               1145    6  2-3/4           4 3 8     1:10.52
 8        130               1100   12  2-3/4         12 12 9     1:10.54
 9        127                997    3      3          5 5 10     1:10.57
 10       108               1045    2  3-1/2          1 1 11     1:10.66
 11       132               1093    5  4-3/4          6 7 12     1:10.85

     Win Odds
 0        3.9
 1       10.0
 2       14.0
 3        4.1
 4       27.0
 5       45.0
 6        6.5
 7       34.0
 8       91.0
 9       27.0
 10       7.1
 11       8.0  ,
    Pla.  Horse No.                   Horse     Jockey    Trainer  Act. Wt.  \
 0     1          7          THE ROCK(D187)    A Badel   C Fownes       119
 1     2          4         CONQUEROR(E133)  T Piccone  D A Hayes       122
 2     3          5  ARTHUR'S KINGDOM(E194)    B Shinn   Y S Tsui       121
 3     4          8       ALPHA HEDGE(B102)   V Borges    K W Lui       118
 4     5          6       SEA OF LIFE(D428)     C Y Ho    K W Lui       120
 5     6          1      PRECIOUSSHIP(C050)  A Hamelin    P F Yiu       133
 6     7          3   LAKESHORE EAGLE(B391)   K Teetan     W Y So       127
 7     8          2     CIRCUIT THREE(B360)  J Moreira   A S Cruz       129

    Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  Win Odds
 0               1188    5      -         1 1 1 1     1:34.20       8.9
 1               1153    1    1/2         4 3 3 2     1:34.28      66.0
 2                974    4    3/4         7 7 5 3     1:34.32     134.0
 3               1210    3  1-1/4         2 2 2 4     1:34.40      31.0
 4               1123    2  1-1/2         3 4 4 5     1:34.42       3.5
 5               1004    6  3-1/4         6 5 6 6     1:34.70      18.0
 6               1037    8  3-1/2         8 8 8 7     1:34.75       7.0
 7               1129    7  3-3/4         5 6 7 8     1:34.78       1.7  ,
     Pla.  Horse No.                     Horse      Jockey       Trainer  \
 0      1          6         JUDY'S STAR(C311)   K C Leung  P O'Sullivan
 1      2         12         VOYAGE STAR(C098)    K Teetan      T P Yung
 2      3          3   GLENEALY GENERALS(B475)    N Callan       C H Yip
 3      4          7        STAR OF WUYI(D503)      C Y Ho       K W Lui
 4      5          9  SWOT TROOPERS WIND(D101)   A Hamelin      D J Hall
 5      6          1       PEGASUS GLORY(D337)    Z Purton      K H Ting
 6      7          2    SUPER RED DRAGON(C191)     A Badel        W Y So
 7      8         10       WAYFOONG STAR(D114)   T Piccone     D J Whyte
 8      9          4       DIAMOND PIXIU(E112)    H N Wong       P F Yiu
 9     10         11      WINNER'S HEART(D044)  M Chadwick       F C Lor
 10    11          5         GRAND POWER(E017)      H T Mo     C W Chang
 11    12          8      SUNDAY BETTING(E064)   M L Yeung      C Fownes

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        124               1145    1       -           7 5 1     1:09.25
 1        116               1234    5       1           1 1 2     1:09.39
 2        127               1144    4       1           4 2 3     1:09.42
 3        123               1068   12   2-1/2           2 3 4     1:09.66
 4        118               1147    2   2-3/4           8 7 5     1:09.69
 5        133               1105    7       3           3 4 6     1:09.72
 6        130               1153   11   4-1/2         11 11 7     1:09.98
 7        118               1246    6       6           6 6 8     1:10.19
 8        122               1056    9   7-1/4          10 9 9     1:10.40
 9        117               1200    8  12-1/2          5 8 10     1:11.26
 10       122               1063    3  13-1/2         9 10 11     1:11.40
 11       118               1150   10  29-1/2        12 12 12     1:13.96

     Win Odds
 0        4.9
 1        9.5
 2        9.6
 3       10.0
 4       44.0
 5        2.1
 6        8.5
 7       22.0
 8       41.0
 9       74.0
 10     201.0
 11      55.0  ,
     Pla.  Horse No.                     Horse       Jockey       Trainer  \
 0   1 DH          7    DRAGON COMMANDER(C208)    J Moreira      Y S Tsui
 1   1 DH         10         FAIRY FLOSS(C236)    K C Leung  P O'Sullivan
 2      3          4      TREASURE CHEST(D008)     N Callan       P F Yiu
 3      4         11           PROUD SKY(V406)      H W Lai          L Ho
 4      5         12      GOLDEN GENERAL(A346)   M Chadwick  D E Ferraris
 5      6          8        GENERAL DINO(A193)      A Badel      R Gibson
 6      7         14        KEEP WINNING(B331)    M L Yeung     C W Chang
 7      8         13   BRAVERY AND POWER(C295)     V Borges        W Y So
 8      9          2        SWEETLY BABY(D247)       C Y Ho      C Fownes
 9     10          9  KA YING BRILLIANCE(B115)     K Teetan      T P Yung
 10    11          6         SPEED FORCE(C535)     C L Chau     D J Whyte
 11    12          1        JADE THEATRE(A040)     Z Purton       K L Man
 12    13          3    CAN'T TOUCH THIS(D255)  C Schofield      K H Ting
 13    14          5  CIRCUIT NUMBER ONE(B373)     K H Chan      A S Cruz

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        126               1083   13       -         9 9 7 1     1:39.05
 1        117               1100   14       -       13 12 4 1     1:39.05
 2        131               1069    3   2-1/4         3 2 1 3     1:39.42
 3        114               1076    5   3-1/4      10 10 12 4     1:39.57
 4        113               1209    8   3-1/4      11 11 11 5     1:39.59
 5        123               1046   10   3-1/4       14 14 9 6     1:39.59
 6        114               1134    9   4-1/4      12 13 13 7     1:39.73
 7        114               1066    4   5-1/4         4 4 5 8     1:39.90
 8        133               1204    1   7-1/2        5 7 10 9     1:40.23
 9        121               1211   12   8-1/2        7 6 6 10     1:40.42
 10       122               1071    6   8-3/4        6 5 8 11     1:40.46
 11       133               1133   11  11-1/4        2 3 3 12     1:40.83
 12       132               1033    7  13-1/2       8 8 14 13     1:41.20
 13       122               1071    2  13-3/4        1 1 2 14     1:41.26

     Win Odds
 0        5.4
 1        8.3
 2        4.9
 3       22.0
 4       74.0
 5       10.0
 6       40.0
 7       19.0
 8        5.4
 9       45.0
 10      13.0
 11      19.0
 12     120.0
 13       7.6  ,
     Pla.  Horse No.                   Horse       Jockey       Trainer  \
 0    1.0          3     SKYEY SUPREME(C293)     C L Chau       K W Lui
 1    2.0          5        LADY FIRST(B013)    K C Leung      A S Cruz
 2    3.0          2      UNITE SPIRIT(C494)    J Moreira  D E Ferraris
 3    4.0          6       DOUBLE TAKE(D205)     K Teetan      C Fownes
 4    5.0          1        DEAL MAKER(B023)  C Schofield      K H Ting
 5    6.0         12       EL VALIENTE(D124)    M L Yeung  P O'Sullivan
 6    7.0          8        SO AWESOME(D258)     Z Purton      Y S Tsui
 7    8.0         10          OH BRAVO(E037)    T Piccone        W Y So
 8    9.0          7    GOLDIE FLANKER(V161)       C Wong       K L Man
 9   10.0         11  WEALTHY EMPLOYEE(D252)     V Borges      K H Ting
 10  11.0         14     SUN SUN FA FA(B467)     H N Wong        W Y So
 11  12.0         13     THE BEST HERO(D314)      H W Lai          L Ho
 12  13.0          9       DEMONS ROCK(B263)       H T Mo      D J Hall
 13   NaN          4  CHUNG WAH SPIRIT(A168)   M Chadwick       C H Yip

     Act. Wt. Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        124              1185    5       -         1 1 1 1     1:38.86
 1        128              1035   10       2         7 4 3 2     1:39.17
 2        132               976    8   2-3/4         9 6 7 3     1:39.31
 3        127              1166   13   3-1/4       10 9 10 4     1:39.39
 4        133              1162   11   4-1/2         3 2 2 5     1:39.56
 5        122              1127    3   4-1/2        8 10 9 6     1:39.57
 6        125              1041    1   4-3/4         4 5 5 7     1:39.62
 7        124              1164    4   5-1/2         6 8 8 8     1:39.75
 8        121              1217    2       7         5 7 6 9     1:39.97
 9        123              1073    6   7-1/4     13 12 12 10     1:40.03
 10       115              1121   12   8-3/4     12 11 11 11     1:40.26
 11       122              1124    7   8-3/4        2 3 4 12     1:40.26
 12       121              1053    9  10-1/4     11 13 13 13     1:40.49
 13       129               ---  ---     ---             ---         ---

    Win Odds
 0        10
 1       5.1
 2       6.2
 3       6.5
 4        18
 5        16
 6       2.4
 7       113
 8        65
 9        59
 10      180
 11       65
 12       37
 13      ---  ,
    Pla.  Horse No.                    Horse     Jockey       Trainer  \
 0     1          3          BEAR SLAM(C143)    B Shinn  D E Ferraris
 1     2          7  PING HAI TREASURE(B407)  J Moreira        J Size
 2     3          2     HONGKONG GREAT(D353)  A Hamelin      C S Shum
 3     4          9        NOTHING NEW(E127)   V Borges     C W Chang
 4     5          8     PARTY EVERYDAY(C414)   K Teetan      A S Cruz
 5     6         10           TANGMERE(B432)  M L Yeung      C Fownes
 6     7          6     GREAT TREASURE(T380)  T Piccone      Y S Tsui
 7     8          4        LONDON HALL(B026)   C L Chau      D J Hall
 8     9          5      TURIN REDSTAR(B092)  K C Leung       C H Yip
 9    10          1    INDICATIVE VOTE(E196)     C Y Ho       K W Lui

    Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0       131               1064    8       -       4 4 4 3 1     1:46.76
 1       122               1143    4   1-3/4       2 2 2 2 2     1:47.02
 2       132               1090    1       2       1 1 1 1 3     1:47.09
 3       118               1030    9   4-1/2       3 3 3 4 4     1:47.46
 4       119               1125    5   4-1/2       6 6 5 6 5     1:47.49
 5       115               1073    7   4-3/4       9 8 8 8 6     1:47.51
 6       124               1040    6       5    10 10 10 9 7     1:47.56
 7       122               1115    3   5-3/4       8 9 9 7 8     1:47.69
 8       125               1170    2   8-1/4       5 5 6 5 9     1:48.06
 9       133               1159   10  20-1/4     7 7 7 10 10     1:50.00

    Win Odds
 0      23.0
 1       5.1
 2       4.3
 3       9.7
 4       2.9
 5      19.0
 6      28.0
 7      18.0
 8       8.3
 9      31.0  ,
     Pla.  Horse No.                  Horse       Jockey      Trainer  \
 0      1          4     TRILLION WIN(E240)   M Chadwick      K L Man
 1      2          1    VALIANT DREAM(B416)     Z Purton      K W Lui
 2      3          9    KEEP YOU WARM(D272)      A Badel      K W Lui
 3      4          7   JOYFUL FORTUNE(D376)    J Moreira     A S Cruz
 4      5          8   WAR OF COURAGE(C483)     N Callan      K L Man
 5      6         11    SEVEN HEAVENS(B089)       C Y Ho     C Fownes
 6      7          6   PRINCE OF GEMS(C031)    A Hamelin  A T Millard
 7      8          3      MR LUMIERES(B179)     C L Chau     D J Hall
 8      9          5       LOYAL BABY(E130)    K C Leung      F C Lor
 9     10         10   BLOTTING PAPER(D043)       C Wong     R Gibson
 10    11          2  NORTHERN DRAGON(D354)  C Schofield       W Y So

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        124               1227   11       -           1 1 1     0:55.57
 1        133               1232    5   1-1/2           3 4 2     0:55.81
 2        119               1119    8   1-3/4           2 2 3     0:55.84
 3        122               1143    9   3-1/4           6 3 4     0:56.10
 4        121               1227    6       4          10 5 5     0:56.21
 5        118               1104    4   4-1/2           8 7 6     0:56.28
 6        123               1163    3   4-1/2           9 8 7     0:56.30
 7        117               1120   10   5-1/4           4 6 8     0:56.42
 8        123               1162    7      13         11 11 9     0:57.65
 9        113               1141    2  14-1/4          5 9 10     0:57.83
 10       127               1095    1      24         7 10 11     0:59.43

     Win Odds
 0       25.0
 1        5.2
 2        9.3
 3        1.8
 4       20.0
 5       13.0
 6        9.0
 7       17.0
 8       38.0
 9      116.0
 10      79.0  ,
     Pla.  Horse No.                    Horse      Jockey    Trainer  Act. Wt.  \
 0      1          5        HINCHINLOVE(C001)    Z Purton   T P Yung       125
 1      2          8  HARMONY N BLESSED(E061)    C L Chau  D A Hayes       115
 2      3          6      REGENCY BO BO(A050)      H T Mo   C S Shum       122
 3      4         12    FIRST RESPONDER(C205)     A Badel  D J Whyte       118
 4      5         10         WAR WEAPON(E257)   J Moreira   C Fownes       122
 5      6          2    WINNING FOR ALL(D391)      C Y Ho    K W Lui       133
 6      7         11       GOLFMAN STAR(D384)    K Teetan    F C Lor       119
 7      8          1     SUPER DYNAMITE(E199)   K C Leung    P F Yiu       133
 8      9          7        LET'S DO IT(E132)     B Shinn   D J Hall       123
 9     10          9       SWIFT SPIRIT(D201)    N Callan   K H Ting       122
 10    11          3           MR ALDAN(C323)    K H Chan   A S Cruz       124
 11    12          4        CIRCUIT SIX(D432)  M Chadwick    K L Man       129

     Declar. Horse Wt.  Dr.    LBW RunningPosition Finish Time  Win Odds
 0                1196    7      -           2 2 1     1:08.36      10.0
 1                1191    6  2-1/2           1 1 2     1:08.75       2.0
 2                1220    2  2-1/2           7 7 3     1:08.78      17.0
 3                1184    1  4-1/4           3 3 4     1:09.05       9.9
 4                1174    8  5-3/4           6 6 5     1:09.30       4.9
 5                1123    9  6-1/2         11 10 6     1:09.39      17.0
 6                1182    3  7-1/4           4 4 7     1:09.52      10.0
 7                1077    4  7-1/2           5 5 8     1:09.58      24.0
 8                1068    5  7-3/4           9 9 9     1:09.61      60.0
 9                1131   12      8         10 8 10     1:09.63     162.0
 10               1200   11     15        12 11 11     1:10.78      89.0
 11               1061   10     18         8 12 12     1:11.24      51.0  ,
     Pla.  Horse No.                    Horse      Jockey       Trainer  \
 0      1         11           MY SUGAR(D206)    Z Purton      K H Ting
 1      2          1     SILVER EXPRESS(E131)    K Teetan        J Size
 2      3         12     ROMANTIC COMBO(D271)   J Moreira      C S Shum
 3      4          8          XIANG YIN(C265)   A Hamelin       F C Lor
 4      5          9       FLYING SWORD(C463)  M Chadwick      A S Cruz
 5      6          5  COMPASSION SPIRIT(D167)   M L Yeung       K L Man
 6      7          4         TAKING AIM(B244)    C L Chau     D J Whyte
 7      8          3      BEAUTY SPIRIT(B409)    N Callan      A S Cruz
 8      9         13          SO WE JOY(D082)     A Badel     D A Hayes
 9     10          7           THE HULK(C431)    K H Chan      C Fownes
 10    11          2       SPARKY TRAIL(E124)    V Borges  P O'Sullivan
 11    12         10       JOLLY HONOUR(C080)    H N Wong      Y S Tsui
 12    13          6       ISLAND SHINE(D040)   K C Leung       P F Yiu

     Act. Wt.  Declar. Horse Wt.  Dr.     LBW RunningPosition Finish Time  \
 0        123               1210    1       -         2 1 1 1     1:21.65
 1        133               1072    9       1         1 2 2 2     1:21.81
 2        120               1141    2   1-3/4         7 3 3 3     1:21.95
 3        125               1052   10   2-1/2        11 6 5 4     1:22.05
 4        124               1053    5   4-1/4         3 4 4 5     1:22.31
 5        127               1100    4   5-1/4         6 8 8 6     1:22.48
 6        121               1211    3   5-1/4         4 5 6 7     1:22.50
 7        131               1278   11   5-3/4         8 9 9 8     1:22.56
 8        118               1073   12   5-3/4      12 12 11 9     1:22.57
 9        118               1139    6   5-3/4        5 7 7 10     1:22.57
 10       132               1110   13   6-3/4     13 13 12 11     1:22.71

In [ ]:
def stats_scraper(current_page)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    table = soup.find_all('table')[1]
    table_rows = table.find_all('tr')

    res = []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            res.append(row)
    df = pd.DataFrame(res)

    df.iat[0,0]
    clean_lists = []
    clean_lists.append(res[0][0])
    clean_lists.append(res[1][0])
    clean_lists.append(res[2][0])
    clean_lists.append(res[3][0])
    clean_lists.append(res[1][2])
    clean_lists.append(res[2][2])

    for x in range(2,len(df)):
        clean_lists.append(res[3][x])

    for x in range(1,len(df)-1):
        clean_lists.append(res[4][x])

    out = pd.DataFrame(clean_lists).transpose()

    if len(out.columns)==12:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "split_1", 10: "split_2", 11: "split_3"}, inplace=True)
    if len(out.columns)==14:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "split_1", 11: "split_2", 12: "split_3", 13: "split_4"}, inplace=True)
    if len(out.columns)==16:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5" 11: "split_1", 12: "split_2", 13: "split_3", 14: "split_4", 15: "split_5"}, inplace=True)
    if len(out.columns)==18:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "time_6",  12: "split_1", 13: "split_2", 14: "split_3", 15: "split_4", 16: "split_5", 17: "split_6"}, inplace=True)
    if len(out.columns)==20:
        out.rename(columns={0: "race_id", 1: "class", 2: "race_name", 3: "stakes", 4: "going", 5: "track_type", 6: "time_1", 7: "time_2", 8: "time_3", 9: "time_4", 10: "time_5", 11: "time_6", 12: "time_7",  13: "split_1", 14: "split_2", 15: "split_3", 16: "split_4", 17: "split_5", 18: "split_6", 19: "split_7"}, inplace=True)